#sidebarViewLeft.column.col-sm-2.col-xs-1.sidebarViewLeft-offcanvas
    ul.nav
        li
            a.visible-xs.text-center(href='#', data-toggle='offcanvas')
                i#sidebarViewLeftSwitch.fa.fa-chevron-right
    ul#lg-menu.nav.hidden-xs
        li(class=title=='Email List Generation'?'active':undefined)
            a(href='/emails')
                i.fa.fa-send-o
                strong Email List

        // li(class=title=='Directory'?'active':undefined)
        //     a(href='/Directory')
        //         i.fa.fa-table
        //         strong Directory
        //
        li(class=title=='Data Explorer'?'active':undefined)
            a(href='/2')
                i.fa.fa-area-chart
                strong Data Explorer

        li(class=title=='Matching'?'active':undefined)
            a(href='/')
                i.fa.fa-group
                strong Matching

        li(class=title=='Student Staging'?'active':undefined)
            a(href='/staging/student')
                i.fa.fa-star
                strong Student Staging

        li(class=title=='Mentor Staging'?'active':undefined)
            a(href='/staging/mentor')
                i.fa.fa-star
                strong Mentor Staging

        li(class=title=='Cohort Settings'?'active':undefined)
            a(href='/cohort')
                i.fa.fa-gears
                strong Cohort Settings

    ul#lg-menu.nav.hidden-xs(style='bottom:0px;position: absolute;width: 100%;')
        li
            a(href='/cohort/create')
                i.fa.fa-plus
                strong Create New Cohort
        li(class=title=='Sign up'?'active':undefined)
            a(href='/signup')
                i.fa.fa-user
                strong Create New Account

    ul#xs-menu.nav.visible-xs
        li(class=title=='Emails'?'active':undefined)
            a.text-center(href='/emails')
                i.fa.fa-send-o
        //- li(class=title=='Directory'?'active':undefined)
              a.text-center(href='/Directory')
                i.fa.fa-table
        li(class=title=='Explorer'?'active':undefined)
            a.text-center(href='/explorer')
                i.fa.fa-area-chart
        li(class=title=='Matching'?'active':undefined)
            a.text-center(href='/matching')
                i.fa.fa-bar-chart-o
        li(class=title=='Matching'?'active':undefined)
            a.text-center(href='/matching')
                i.fa.fa-group
        li(class=title=='Student Staging'?'active':undefined)
            a.text-center(href='/staging/student')
                i.fa.fa-star
        li(class=title=='Mentor Staging'?'active':undefined)
            a.text-center(href='/staging/mentor')
                i.fa.fa-star
        li(class=title=='Cohort Settings'?'active':undefined)
            a.text-center(href='/cohort')
                i.fa.fa-gears

        ul#xs-menu.nav.visible-xs(style='bottom:0px;position: absolute;width: 100%;')
            li
                a.text-center(href='/cohort/create')
                    i.fa.fa-plus
            li(class=title=='Sign up'?'active':undefined)
                a.text-center(href='/signup')
                    i.fa.fa-user
