doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title #{title} | CPSC 319

    meta(property="og:site_name",content="")
    meta(property="og:title",content="")
    meta(property="og:description",content="")
    meta(property="og:image",content="")
    meta(property="og:url",content="")
    meta(property="og:type",content="website")

    meta(name="HandheldFriendly",content="True")

    != css('main')
    != css('styles')
    != js('application')

    block pageStyle

  body(class='#{ pageStyleVar }').pageStyle-sidebarViewLeft.pageStyle-sidebarViewRight

    include partials/navbar
    include partials/flash


    script.

      $(function() {
        //- off-canvas sidebar toggle button
        function toggleClickSidebar(){
          //-$('#sidebarViewRight').toggleClass('col-xs-11').toggleClass('col-xs-10');
          //-$('#sidebarViewRight').toggleClass('col-sm-offset-1').toggleClass('col-xs-offset-2');
          //-$('#sidebarViewLeft').toggleClass('col-xs-1').toggleClass('col-xs-5');
          $('#sidebarViewLeft').toggleClass('sidebarWidthBounds');
          $('[data-toggle=offcanvas]').toggleClass('visible-xs text-center');
          $('[data-toggle=offcanvas]').find('i').toggleClass('fa-chevron-right fa-chevron-left');
          $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
          $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
        }

        //- CLOSE sidebar by clicking on content part of screen
        function closeSidebar(){
          $('#sidebarViewLeft').removeClass('sidebarWidthBounds');
          $('[data-toggle=offcanvas]').removeClass('text-center').addClass('visible-xs');
          $('[data-toggle=offcanvas]').find('i').removeClass('fa-chevron-left').addClass('fa-chevron-right');
          $('#lg-menu').addClass('hidden-xs').removeClass('visible-xs');
          $('#xs-menu').addClass('visible-xs').removeClass('hidden-xs');
        }

        $('[data-toggle=offcanvas]').click(function() {
          toggleClickSidebar();
        });


        //- Clashes with the Click event. This is problamatic because phones need to click on charts to view specific data points.
        /*$(window).swipe( {
          swipeLeft:function() {
            // IF MENU IS OPEN
            closeSidebar();
          },
          threshold:120
        });*/

        $('#sidebarViewLeft').swipe( {
          swipeRight:function() {
            closeSidebar();
            toggleClickSidebar();
          },
          threshold:10
        });

        $('#wrap, #footer').click(function(){
          closeSidebar();
        });

        $(window).resize(function(){
          closeSidebar();
        });

      })



    include partials/sidebar

    #sidebarViewRight.column.col-sm-10.col-xs-11.col-sm-offset-2.col-xs-offset-1(data-sr='over .3s enter left move 400px')
        .factorsBar.col-xs-2(style='z-index: 9999;')
          form(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            if factors
              for factor in factors
                if factor
                  .form-group
                    label.control-label(for=factor.name)=factor.label
                    input.form-control(type='number', name=factor.name, data-from=factor.weight)&attributes(factor)

          script.
            $('input[type="number"]').ionRangeSlider({
                min: 0,
                max: 100,
                hide_min_max: true,
                type: 'single',
                grid: false,
                onFinish: rangeChange
            });
            function rangeChange(){
              var factors=[];
              $('input[type="number"]').each(function(index, element) {
                  factors.push(
                    {
                      name: element.name,
                      weight: $(element).data().from,
                      analyzeRef: ((typeof( $(element).attr('analyzeRef') ) != 'undefined')? $(element).attr('analyzeRef') : 'undefined')
                    }
                  );
              });
              $.post('/matrix/setWeights', {_csrf: '#{_csrf}', factors: factors })
              .done(function(data) {
                  $('#dc-trio-table').html('');
                  $.each(data,function(el){
                    var el=data[el];
                    /* Add in our Trio to the table */
                    var jName=(el.junior || '').fName+' '+(el.junior || '').lName
                    var sName=(el.senior || '').fName+' '+(el.senior || '').lName
                    var mName=(el.mentor || '').fName+' '+(el.mentor || '').lName
                    var html='<tr>'+
                                '<th><h4 style="text-align: center;margin:0px;padding:0px;"><span class="label label-success" style="min-width: 54px;display: inline-block;">'+el.quality+'</span></h4></th>'+
                                '<th>'+jName+'</th>'+
                                '<th>'+sName+'</th>'+
                                '<th>'+mName+'</th>'+
                              '</tr>';
                    $('#dc-trio-table').append(html);
                  });
              })
              .fail(function(data) {
                  console.log('ERROR',data);
              });

            }

        .col-xs-10.col-xs-offset-2(data-sr='over .3s enter left move 400px')
          block content
