doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title #{title} | CPSC 319
    
    meta(property="og:site_name",content="")
    meta(property="og:title",content="")
    meta(property="og:description",content="")
    meta(property="og:image",content="")
    meta(property="og:url",content="")
    meta(property="og:type",content="website")
    
    meta(name="HandheldFriendly",content="True")
    
    != css('main')
    != css('styles')
    != js('application')
      
    block pageStyle
     
  body(class='#{ pageStyleVar }').pageStyle-sidebarViewLeft.pageStyle-sidebarViewRight
    
    include partials/navbar
    include partials/flash
    
    
    script.
      $(function() {   
        //- off-canvas sidebar toggle button
        function toggleClickSidebar(){
          //-$('#sidebarViewRight').toggleClass('col-xs-11').toggleClass('col-xs-10');
          //-$('#sidebarViewRight').toggleClass('col-sm-offset-1').toggleClass('col-xs-offset-2');
          //-$('#sidebarViewLeft').toggleClass('col-xs-1').toggleClass('col-xs-5');
          $('#sidebarViewLeft').toggleClass('sidebarWidthBounds');
          $('[data-toggle=offcanvas]').toggleClass('visible-xs text-center');
          $('[data-toggle=offcanvas]').find('i').toggleClass('fa-chevron-right fa-chevron-left');
          $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
          $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
        }
         
        //- CLOSE sidebar by clicking on content part of screen
        function closeSidebar(){
          $('#sidebarViewLeft').removeClass('sidebarWidthBounds');
          $('[data-toggle=offcanvas]').removeClass('text-center').addClass('visible-xs');
          $('[data-toggle=offcanvas]').find('i').removeClass('fa-chevron-left').addClass('fa-chevron-right');
          $('#lg-menu').addClass('hidden-xs').removeClass('visible-xs');
          $('#xs-menu').addClass('visible-xs').removeClass('hidden-xs');
        }
        
        $('[data-toggle=offcanvas]').click(function() {
          toggleClickSidebar();
        });
        
        
        //- Clashes with the Click event. This is problamatic because phones need to click on charts to view specific data points.
        /*$(window).swipe( {
          swipeLeft:function() {
            // IF MENU IS OPEN
            closeSidebar();
          },
          threshold:120
        });*/
        
        $('#sidebarViewLeft').swipe( {
          swipeRight:function() {
            closeSidebar();
            toggleClickSidebar();
          },
          threshold:10
        });
        
        $('#wrap, #footer').click(function(){
          closeSidebar();
        });
        
        $(window).resize(function(){
          closeSidebar();
        });
  
      })
  
  
  
    #sidebarViewLeft.column.col-sm-2.col-xs-1.sidebarViewLeft-offcanvas
      ul.nav
        li
          a.visible-xs.text-center(href='#', data-toggle='offcanvas')
            i#sidebarViewLeftSwitch.fa.fa-chevron-right
      ul#lg-menu.nav.hidden-xs
        li(class=title=='Emails'?'active':undefined)
          a(href='/Emails')
            i.fa.fa-dashboard
            strong Emails
            
        li(class=title=='Directory'?'active':undefined)
          a(href='/Directory')
            i.fa.fa-table
            strong Directory
            
        li(class=title=='Explorer'?'active':undefined)
          a(href='/')
            i.fa.fa-search
            strong Data Explorer
                    
        li(class=title=='Matching'?'active':undefined)
          a(href='/2')
            i.fa.fa-bar-chart-o
            strong Senior Matching

        li(class=title=='Matching'?'active':undefined)
          a(href='/2')
            i.fa.fa-bar-chart-o
            strong Junior Matching
            
        li(class=title=='Staging'?'active':undefined)
          a(href='/Staging')
            i.fa.fa-star
            strong Staging
            
        li(class=title=='Cohort'?'active':undefined)
          a(href='/Cohort')
            i.fa.fa-star
            strong Cohort
            
      ul#lg-menu.nav.hidden-xs(style='bottom:0px;position: absolute;width: 100%;')
        li
          a(href='/new_Cohort')
            i.fa.fa-plus
            strong Create New Cohort 
        li(class=title=='Sign up'?'active':undefined)
          a(href='/Signup')
            i.fa.fa-plus
            strong Create New Account   
  
      ul#xs-menu.nav.visible-xs
        li(class=title=='Emails'?'active':undefined)
          a.text-center(href='/Emails')
            i.fa.fa-dashboard
        li(class=title=='Directory'?'active':undefined)
          a.text-center(href='/Directory')
            i.fa.fa-table
        li(class=title=='Explorer'?'active':undefined)
          a.text-center(href='/Explorer')
            i.fa.fa-search
        li(class=title=='Matching'?'active':undefined)
          a.text-center(href='/Matching')
            i.fa.fa-bar-chart-o
        li(class=title=='Matching'?'active':undefined)
          a.text-center(href='/Matching')
            i.fa.fa-bar-chart-o
        li(class=title=='Staging'?'active':undefined)
          a.text-center(href='/Staging')
            i.fa.fa-star
        li(class=title=='Cohort'?'active':undefined)
          a.text-center(href='/Cohort')
            i.fa.fa-star
            
        ul#xs-menu.nav.visible-xs(style='bottom:0px;position: absolute;width: 100%;')
          li
            a.text-center(href='/new_Cohort')
              i.fa.fa-plus        
          li(class=title=='Sign up'?'active':undefined)
            a.text-center(href='/Signup')
              i.fa.fa-plus        
            
    #sidebarViewRight.column.col-sm-10.col-xs-11.col-sm-offset-2.col-xs-offset-1
        .factorsBar.col-xs-2
          form(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.control-label(for='email') Personality
              input.form-control(type='number', value='10')
            .form-group
              label.control-label(for='password') Availability
              input.form-control(type='number', value='50')
            .form-group
              label.control-label(for='password') CS Stream
              input.form-control(type='number', value='60')
            .form-group
              label.control-label(for='password') Faculty
              input.form-control(type='number', value='40')
            .form-group
              label.control-label(for='password') Year
              input.form-control(type='number', value='90')
            .form-group
              label.control-label(for='password') Courses
              input.form-control(type='number', value='70')
            .form-group
              label.control-label(for='password') Interests
              input.form-control(type='number', value='30')
            .form-group
              label.control-label(for='password') Hobbies
              input.form-control(type='number', value='20')
          script.
            $('input[type="number"]').ionRangeSlider({
                min: 0,
                max: 100,
                from: 50,
                hide_min_max: true,
                type: 'single',
                grid: false,
                grid_num: 50
            });    
        .col-xs-10.col-xs-offset-2
          block content
  
  
