extends ../sidebarLayout

block content
  .page-header
    h3 Cohort Settings

  form.form-horizontal(action='/update_cohort/'+cohort._id, method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    
    .form-group
      label.col-sm-2.control-label(for='title') Title
      .col-sm-6
        input.form-control(type='text', name='title', id='title', value=cohort.title)
    
    .form-group
      label.col-sm-2.control-label(for='description') Description
      .col-sm-6
        textarea.form-control(name='description', id='description')=cohort.description
        
    .form-group
      label.col-sm-2.control-label(for='status') Form Accessibility
      .col-sm-4
        input(checked=cohort.status || false, id='status', name='status', type="checkbox", data-size='large', data-toggle="toggle", data-on-text="OPEN", data-off-text="CLOSED", data-on-color="success", data-off-color="danger")
    
    .form-group
      label.col-sm-2.control-label(for='form') Questionnaire Template
      .col-sm-4
        select.form-control(id='form', name='form', value=cohort.form)
          for val, i in forms
            option(value=forms[i])=forms[i]
     
     
    
    .form-group
      label.col-sm-2.control-label(for='email') Form Secret
      .col-sm-10
        input.form-control(type='text', style='display: inline;width: 320px;height: 35px;', value=cohort.secret, id='secret', name='secret')
    
    .form-group
      label.col-sm-2.control-label Mentor Form Link
      .col-sm-10
        a(href='https://DOMAIN.COM/form/mentor/'+cohort._id+'/'+ cohort.secret)='https://DOMAIN.COM/form/mentor/'+cohort._id+'/'+ cohort.secret

    .form-group
      label.col-sm-2.control-label Student Form Link
      .col-sm-10
        a(href='https://DOMAIN.COM/form/student/'+cohort._id+'/'+ cohort.secret)='https://DOMAIN.COM/form/student/'+cohort._id+'/'+ cohort.secret
            
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          span.ion-edit
          | Update Cohort
          
          

  .page-header
    h3 Delete This Cohort
  .col-sm-offset-2
    p You can delete this cohort, but keep in mind this action is irreversible.
    form(action='/delete_cohort/'+cohort._id, method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-danger(type='submit')
        span.ion-trash-b
        | Delete this cohort     



    
  script.
    $( document ).ready(function() {
      $('input[type="checkbox"]').bootstrapSwitch();
    });
    
