extends ../formLayout

mixin formInput(form)
  if form.type=='string'
    if form.name=='interests'
      .form-group
        label.col-sm-3.control-label(for=form.name)=form.label +' (Comma separated list)'
        .col-sm-5
          input.form-control(type='text', name=form.name, id=form.name, required=form.required || false, value=application[form.name])
    else
      .form-group
        label.col-sm-3.control-label(for=form.name)=form.label
        .col-sm-5
          input.form-control(type='text', name=form.name, id=form.name, required=form.required || false, value=application[form.name])

  if form.type=='email'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        input.form-control(type='email', name=form.name, id=form.name, required=form.required || false, value=application[form.name])

  if form.type=='number'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        input.form-control(type='number', name=form.name, id=form.name, required=form.required || false, value=application[form.name])

  if form.type=='range'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        input.form-control(type='number', name=form.name, id=form.name, min=form.min, step=form.step, max=form.max, required=form.required || false, value=application[form.name])

  if form.type=='date'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5

        //- HTML5 date input requires zero padded YYYY-MM-DD format.  Its cleaner to perform here rather than many time in the controller.
        -var html5DateInputFormat;
        // This is a check to see if we are "update" an existing application.
        if application._id && application[form.name]
          -var year=application[form.name].getUTCFullYear();
          -var month=('0'+(+application[form.name].getUTCMonth()+1)).slice(-2);
          -var day=('0'+application[form.name].getUTCDate()).slice(-2);
        - html5DateInputFormat=year+'-'+month+'-'+day;
        input.form-control(type='date', name=form.name, id=form.name, required=form.required || false, value=(application._id ? html5DateInputFormat : false ))

  if form.type=='radioGroup'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        for val in form.values
          input(type='radio',name=form.name, value=val, checked=( application && application[form.name] && application[form.name].indexOf(val) != -1 ? true : false) )
          span= val
          br

  if form.type=='checkboxGroup'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        for val in form.values
          input(type='checkbox',name=form.name, value=val, checked=( application && application[form.name] && application[form.name].indexOf(val) != -1 ? true : false) )
          span= val
          br

block content
  form.form-horizontal(action='/form/'+(application._id?'update/':'')+  (student?'student/':'mentor/')  +cohortID+'/'+secret+(application._id?'/'+application._id:''), method='POST')
    .page-header(style="margin-top:10%;")
      if student
        h3 Student Application Form
      else
        h3 Mentor Application Form

    style.
      input[type="checkbox"], input[type='radio'] {
        margin-right: 5px;
      }
    div
      input(type='hidden', name='_csrf', value=_csrf)
      for input in form
        +formInput(input)


      button.btn.btn.btn-primary.col-sm-6.col-sm-offset-2.col-xs-12(type='submit')
        span.ion-android-hand
        | Submit!
