extends ../formLayout

mixin formInput(form)
  if form.type=='string'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        input.form-control(type='text', name=form.name, id=form.name, required=form.required || false)
    
  if form.type=='email'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        input.form-control(type='email', name=form.name, id=form.name, required=form.required || false)
        
  if form.type=='number'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        input.form-control(type='number', name=form.name, id=form.name, required=form.required || false)

  if form.type=='range'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        input.form-control(type='number', name=form.name, id=form.name, min=form.min, step=form.step, max=form.max, required=form.required || false)

  if form.type=='date'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        input.form-control(type='date', name=form.name, id=form.name, required=form.required || false)

  if form.type=='radioGroup'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        for val in form.values
          input(type='radio',name=form.name, value=val)
          span=val
          br
        
  if form.type=='checkboxGroup'
    .form-group
      label.col-sm-3.control-label(for=form.name)=form.label
      .col-sm-5
        for val in form.values
          input(type='checkbox',name=form.name, value=val)
          span=val
          br

block content
  form.form-horizontal(action='/form/'+  (student?'student/':'mentor/')  +cohortID+'/'+secret, method='POST')
    .page-header(style="margin-top:10%;")
      if student
        h3 Student Application Form
      else
        h3 Mentor Application Form
    div
      input(type='hidden', name='_csrf', value=_csrf)
      for input in form
        +formInput(input)
      
    
      button.btn.btn.btn-primary.col-sm-6.col-sm-offset-2.col-xs-12(type='submit')
        span.ion-android-hand
        | Submit!


